# Turso connection for Cashew + Milk APIs
ktapps_TURSO_DATABASE_URL=libsql://ktapps-database-vercel-icfg-lwmjz4tns514tgybfewlpsk9.aws-ap-south-1.turso.io
ktapps_TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODA2OTAzMzksImlkIjoiMDE5ZThmNTctMzgwMS03OWNlLWJhMjAtM2Y4ZDhhNGE3NDg5IiwicmlkIjoiYTU0MjRjZWQtMTA5Ny00MjUzLWJjODAtMjJiOTgwM2UyNThlIn0.vXe6fJVE0WTnHNUezHvYIQ51_0Lm0qmRMcP5LsWaOOBq-bwD6zShbqJSMgNNTufWZgv3NkqSOFg4UihDC0TLDA

